.shadow {
  box-shadow: rgba(0, 0, 0, 0.06);
}

.project_container {
  background-color: #F9FAFB;
  width: 100%;
}

.blur_con {
  z-index: 0;
  filter: blur(10px);
}

.delete_project_modal {
  z-index: 10000;
}

.non-clickable-button {
  pointer-events: none;
  cursor: default;
}

.user_notification, .user_profile {
  z-index: 50;
}

.closeModal_button {
  cursor: auto;
}

.project:hover {
  background-color: rgba(0, 0, 0, 0.06);
  border: none;
}

.user_name {
  text-align: left;
}

.createProject {
  width: 100%;
  height: 100vh;
}

.option:hover {
  background-color: rgba(55, 53, 100, 0.2);
  cursor: pointer;
  width: 100%;
  padding-left: 4px;
}

.create_project_con {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.input-focus:focus {
  border-color: #ffc0cb;
}
