.file_container {
  border: 1px dotted #f10191d9;
}

.annotFlow {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.instruction_list {
  list-style: circle;
}

@keyframes file-slide {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.trashShadow {
  box-shadow: 0px 0px 6px 0px #F10191;
  opacity: 0.8;
}

